In [4]:
import pandas as pd

function name: pre_cleansing

Description:

The function cleans the match statistics data and removes the ones that have low to no information for a given matchã€‚

Input:

1. Match_stats [DataFrame]: It includes all the players' information for all matches of a given year.

Output:

1. Match_stats_sanitized [DataFrame]: It includes the cleaned data.

In [8]:
phs_2019 = pd.read_csv('phs_2019_playoffs.csv')
phs_2019.head(10)
def pre_cleansing(Match_stats):
    # Remove unused columns
    Match_stats.drop(columns=['start_time','stage','map_type'],inplace=True)

    stat_copy = Match_stats.copy(deep=False)
    hero = Match_stats.iat[0,5]
    flag = False

    # Delete range
    range_begin = 0
    range_end = 0

    for index, row in Match_stats.iterrows():
        # If Alive Time < 50 sec
        if(row.stat_name == 'Time Alive'):
            if(row.stat_amount < 50):
                flag = True
        
        if(row.hero!= hero):
            hero = row.hero
            range_end = index-1

        # If stat less than 6
            if((range_end-range_begin+1)< 3): 
                flag = True

            if(flag):
                stat_copy.drop(index = range(range_begin,range_end+1),inplace = True)
            range_begin = index
            flag = False
    # Remove All Heroes data
    stat_copy.drop(stat_copy[(stat_copy.hero == "All Heroes")].index, inplace=True) 
    return stat_copy
clean_df = pre_cleansing(phs_2019) 
clean_df

,match_id,map_name,player,team,stat_name,hero,stat_amount
28,30172,Ilios,Elsa,Chengdu Hunters,All Damage Done,D.Va,13934.906430
29,30172,Ilios,Elsa,Chengdu Hunters,Assists,D.Va,15.000000
30,30172,Ilios,Elsa,Chengdu Hunters,Average Time Alive,D.Va,569.509017
31,30172,Ilios,Elsa,Chengdu Hunters,Barrier Damage Done,D.Va,6703.071256
32,30172,Ilios,Elsa,Chengdu Hunters,Critical Hit Accuracy,D.Va,0.092603

In [11]:
match_result = pd.read_csv('annual_match_result_table.csv')
match_result

,match_year,match_id,map_name,map_winner,winning_team_final_map_score,winning_team_win_rate,map_loser,losing_team_final_map_score,losing_team_win_rate
0,2018,10223,Dorado,Los Angeles Valiant,3,0.600000,San Francisco Shock,2,0.400000
1,2018,10223,Temple of Anubis,Los Angeles Valiant,4,0.571429,San Francisco Shock,3,0.428571
2,2018,10223,Ilios,Los Angeles Valiant,2,0.666667,San Francisco Shock,1,0.333333
3,2018,10223,Numbani,Los Angeles Valiant,2,0.666667,San Francisco Shock,1,0.333333
4,2018,10224,Dorado,Los Angeles Gladiators,1,1.000000,Shanghai Dragons,0,0.000000
...,...,...,...,...,...,...,...,...,...
4511,2021,37442,Dorado,Atlanta Reign,3,0.600000,Dallas Fuel,2,0.400000
4512,2021,37441,Ilios,Shanghai Dragons,2,1.000000,Atlanta Reign,0,0.000000
4513,2021,37441,Hanamura,Shanghai Dragons,3,0.600000,Atlanta Reign,2,0.400000
4514,2021,37441,King's Row,Shanghai Dragons,6,0.545455,Atlanta Reign,5,0.454545
4515,2021,37441,Havana,Shanghai Dragons,3,0.600000,Atlanta Reign,2,0.400000

In [28]:
def clean_match(hero_name, match_info):
    clean_match_df = match_info.merge(match_result.iloc[:, :6], how = 'inner', left_on =['match_id', 'map_name', 'team'], right_on =['match_id', 'map_name', 'map_winner'])
    hero_info = clean_match_df[clean_match_df['hero'] == hero_name]
    if len(hero_info) == 0:
        return 'No record about the hero name: ' + hero_name
    else:
        return hero_info
    
clean_match('D.Va',clean_df)

'No record about the hero name: D.va'

In [32]:
# test dataset
# clean dataset for phs_2020_1
phs_2020 = pd.read_csv('phs_2020_1.csv')
phs_2020.head(10)
def pre_cleansing(Match_stats):
    # Remove unused columns
    Match_stats.drop(columns=['start_time','stage','map_type'],inplace=True)

    stat_copy = Match_stats.copy(deep=False)
    hero = Match_stats.iat[0,5]
    flag = False

    # Delete range
    range_begin = 0
    range_end = 0

    for index, row in Match_stats.iterrows():
        # If Alive Time < 50 sec
        if(row.stat_name == 'Time Alive'):
            if(row.stat_amount < 50):
                flag = True
        
        if(row.hero!= hero):
            hero = row.hero
            range_end = index-1

        # If stat less than 6
            if((range_end-range_begin+1)< 3): 
                flag = True

            if(flag):
                stat_copy.drop(index = range(range_begin,range_end+1),inplace = True)
            range_begin = index
            flag = False
    # Remove All Heroes data
    stat_copy.drop(stat_copy[(stat_copy.hero == "All Heroes")].index, inplace=True) 
    return stat_copy
clean_df = pre_cleansing(phs_2020) 
clean_df

,match_id,map_name,player,team,stat_name,hero,stat_amount,match_year,map_winner,winning_team_final_map_score,winning_team_win_rate
476,30991,Eichenwalde,Nevix,Toronto Defiant,All Damage Done,D.Va,26508.663470,2020,Toronto Defiant,4,0.571429
477,30991,Eichenwalde,Nevix,Toronto Defiant,Assists,D.Va,23.000000,2020,Toronto Defiant,4,0.571429
478,30991,Eichenwalde,Nevix,Toronto Defiant,Average Time Alive,D.Va,82.724002,2020,Toronto Defiant,4,0.571429
479,30991,Eichenwalde,Nevix,Toronto Defiant,Barrier Damage Done,D.Va,18704.280600,2020,Toronto Defiant,4,0.571429
480,30991,Eichenwalde,Nevix,Toronto Defiant,Critical Hit Accuracy,D.Va,0.083681,2020,Toronto Defiant,4,0.571429
...,...,...,...,...,...,...,...,...,...,...,...
234860,34751,Watchpoint: Gibraltar,Hanbin,Paris Eternal,Time Holding Ultimate,D.Va,200.385006,2020,Paris Eternal,3,0.750000
234861,34751,Watchpoint: Gibraltar,Hanbin,Paris Eternal,Time Played,D.Va,766.967895,2020,Paris Eternal,3,0.750000
234862,34751,Watchpoint: Gibraltar,Hanbin,Paris Eternal,Ultimates Earned - Fractional,D.Va,4.834791,2020,Paris Eternal,3,0.750000
234863,34751,Watchpoint: Gibraltar,Hanbin,Paris Eternal,Ultimates Used,D.Va,3.000000,2020,Paris Eternal,3,0.750000
234864,34751,Watchpoint: Gibraltar,Hanbin,Paris Eternal,Weapon Accuracy,D.Va,0.310303,2020,Paris Eternal,3,0.750000

In [ ]:
# apply merged function 
clean_match('D.Va',clean_df)