In [1]:
# import library
import os
import pandas as pd

In [3]:
# change the read path to dataset document stored location
# !pwd
os.chdir('Data/')

/Users/doggo/Documents/GitHub/Overwatch-League-Analysis

In [3]:
# import dataset
match_table = pd.read_csv('match_map_stats.csv')
match_table.head()

,round_start_time,round_end_time,stage,match_id,game_number,match_winner,map_winner,map_loser,map_name,map_round,...,team_one_name,team_two_name,attacker_payload_distance,defender_payload_distance,attacker_time_banked,defender_time_banked,attacker_control_perecent,defender_control_perecent,attacker_round_end_score,defender_round_end_score
0,2018-01-11 00:12:07,2018-01-11 00:20:07,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,1,...,Los Angeles Valiant,San Francisco Shock,75.615051,0.000000,0.000000,240.000000,NaN,NaN,2,0
1,2018-01-11 00:22:05,2018-01-11 00:27:59,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,2,...,Los Angeles Valiant,San Francisco Shock,75.649597,75.615051,125.750572,0.000000,NaN,NaN,3,2
2,2018-01-11 00:34:39,2018-01-11 00:38:29,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,1,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,250.492004,240.000000,NaN,NaN,2,0
3,2018-01-11 00:40:27,2018-01-11 00:44:41,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,2,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,225.789032,250.492004,NaN,NaN,2,2
4,2018-01-11 00:46:09,2018-01-11 00:49:48,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,3,...,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,36.396057,250.492004,NaN,NaN,4,2

In [4]:
# build function with one parameter which is the dataset being import above
def mt_func(match_table):
    # filter the dataset by column 'map_round' to only get the first round records
    map_round_1 = match_table[match_table['map_round'] == 1]
    # select the needed columns from the filtered dataset
    raw_data = map_round_1[['round_end_time','match_id', 'map_winner', 'map_loser', 'map_name', 'winning_team_final_map_score', 'losing_team_final_map_score']]
    
    # get only the year of the 'round_end_time' 
    for i in range(len(map_round_1)):
         raw_data.iloc[i,0] = int(raw_data.iloc[i,0][:4])
    
    # add column winning_team_win_rate: winning_team_final_map_score / (winning_team_final_map_score + losing_team_final_map_score)
    raw_data.loc[:, 'winning_team_win_rate'] = raw_data.iloc[:, 5] / (raw_data.iloc[:, 5] + raw_data.iloc[:, 6])
    # add column losing_team_win_rate: 1-winning_team_win_rate
    raw_data.loc[:, 'losing_team_win_rate'] = 1 - raw_data['winning_team_win_rate'] 
    
    # reorder columns 
    ordered_columns = ['round_end_time', 'match_id', 'map_name', 'map_winner', 'winning_team_final_map_score', 'winning_team_win_rate', 'map_loser', 'losing_team_final_map_score', 'losing_team_win_rate']
    result = raw_data[ordered_columns]
    
    # change one the first column name 'round_end_time' to 'match_year'
    result.rename(columns = {raw_data.columns[0]: 'match_year'}, inplace = True)
    
    return result

In [5]:
# test case
mt_func(match_table)

C:\Users\mingl\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\mingl\anaconda3\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

,match_year,match_id,map_name,map_winner,winning_team_final_map_score,winning_team_win_rate,map_loser,losing_team_final_map_score,losing_team_win_rate
0,2018,10223,Dorado,Los Angeles Valiant,3,0.600000,San Francisco Shock,2,0.400000
2,2018,10223,Temple of Anubis,Los Angeles Valiant,4,0.571429,San Francisco Shock,3,0.428571
6,2018,10223,Ilios,Los Angeles Valiant,2,0.666667,San Francisco Shock,1,0.333333
9,2018,10223,Numbani,Los Angeles Valiant,2,0.666667,San Francisco Shock,1,0.333333
11,2018,10224,Dorado,Los Angeles Gladiators,1,1.000000,Shanghai Dragons,0,0.000000
...,...,...,...,...,...,...,...,...,...
11222,2021,37442,Dorado,Atlanta Reign,3,0.600000,Dallas Fuel,2,0.400000
11224,2021,37441,Ilios,Shanghai Dragons,2,1.000000,Atlanta Reign,0,0.000000
11226,2021,37441,Hanamura,Shanghai Dragons,3,0.600000,Atlanta Reign,2,0.400000
11230,2021,37441,King's Row,Shanghai Dragons,6,0.545455,Atlanta Reign,5,0.454545
11234,2021,37441,Havana,Shanghai Dragons,3,0.600000,Atlanta Reign,2,0.400000